#set($page_title="点创案例")
#set($home_class="")
#set($works_class="check")
#set($about_class="")
#set($career_class="")
#set($contact_class="")

<div class="main">
    <div class="pageclassblank"></div>
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image:url(#springUrl("/resources/uploadfile/1507887494.jpg"))"><a href="javascript:;"></a></li>
            <li style="background-image:url(#springUrl("/resources/uploadfile/1507887502.jpg"))"><a href="javascript:;"></a></li>
        </ul>
    </div>
    <script type="text/javascript">$(document).ready(function(){$('.flexslider').flexslider({directionNav: true,pauseOnAction: false});});</script>
    <div class="wrap">
        <div class="promenu">
            <div class="subject">
                按行业
            </div>
            <p><a href="#" class="check">所有行业</a><a href="#">金融 银行 投资</a><a href="#">食品 饮料 酒水</a><a href="#">服装 家纺 鞋帽</a><a href="#">工业 制造 交通</a><a href="#">科技 互联网 电商</a><a href="#">医药 美妆 母婴</a><a href="#">地产 酒店 建材</a><a href="#">教育 文化 培训</a><a href="#">家居 家电 日用</a></p>
        </div>
        <div class="promenu">
            <div class="subject">
                按类别?
            </div>
            <p><a href="#" class="">所有类别</a><a href="#">品牌全案</a><a href="#">LOGO（VI设计）</a><a href="#">产品创新开发</a><a href="#">营销（传播）</a></p>
        </div>
        <ul class="product">
            #foreach($works in $worksList)
                #if($!{velocityCount}%2 != 0)
                    <li>
                        <div class="pic">
                            <a href="#springUrl("/portals/workdetail/$!works.id")" target="_blank"><span></span><p style=" background-image:url(#springUrl("$works.coverPic"))"></p><img src="#springUrl("/resources/images/65.png")" /></a>
                        </div>
                        <div class="cons">
                            <div class="title2">
                                #foreach($item in $industryTypes)
                                    #if($works.industry == $item.code)
                                        $item.name
                                    #end
                                #end
                            </div>
                            <div class="title">
                                <a href="#springUrl("/portals/workdetail/$!works.id")" target="_blank">$works.name</a>
                            </div>
                            #*<div class="title2">
                                $works.serviceContent
                            </div>*#
                        </div></li>
                 #else
                    <li class="no">
                        <div class="pic">
                            <a href="#springUrl("/portals/workdetail/$!works.id")" target="_blank"><span></span><p style=" background-image:url(#springUrl("$works.coverPic"))"></p><img src="#springUrl("/resources/images/65.png")" /></a>
                        </div>
                        <div class="cons">
                            <div class="title2">
                                #foreach($item in $industryTypes)
                                    #if($works.industry == $item.code)
                                        $item.name
                                    #end
                                #end
                            </div>
                            <div class="title">
                                <a href="#springUrl("/portals/workdetail/$!works.id")" target="_blank">$works.name</a>
                            </div>
                            #*<div class="title2">
                                $works.serviceContent
                            </div>*#
                        </div></li>
                #end
            #end

            #*<li>
                <div class="pic">
                    <a href="../show/f407.html" target="_blank"><span></span><p style=" background-image:url(#springUrl("/resources/uploadfile/1505535966.jpg"))"></p><img src="#springUrl("/resources/images/65.png")" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        食品 饮料 酒水
                    </div>
                    <div class="title">
                        <a href="../show/f407.html" target="_blank">肯德基“K记饭桶”</a>
                    </div>
                    <div class="title2">
                        品牌研究、品牌策划、LOGO设计、包装设计、产品创新、品牌传播
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f384.html" target="_blank"><span></span><p style=" background-image:url(#springUrl("/resources/uploadfile/1500104614.jpg"))"></p><img src="#springUrl("/resources/images/65.png")" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        科技 互联网 电商
                    </div>
                    <div class="title">
                        <a href="../show/f384.html" target="_blank">微鲸智能电视</a>
                    </div>
                    <div class="title2">
                        品牌研究、品牌定位、口号，命名、LOGO、VI、推广传播等全案策划
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f408.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1504691762.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        科技 互联网 电商
                    </div>
                    <div class="title">
                        <a href="../show/f408.html" target="_blank">荣安虫子智能手机</a>
                    </div>
                    <div class="title2">
                        品牌定位、口号，命名、LOGO、VI、推广传播等全案策划
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f368.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500085692.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        食品 饮料 酒水
                    </div>
                    <div class="title">
                        <a href="../show/f368.html" target="_blank">爱哆哆喜饼</a>
                    </div>
                    <div class="title2">
                        包装设计、推广物料设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f391.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500111075.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        工业 制造 交通
                    </div>
                    <div class="title">
                        <a href="../show/f391.html" target="_blank">登路普车旅品牌</a>
                    </div>
                    <div class="title2">
                        VI设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f440.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505527909.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        金融 银行 投资
                    </div>
                    <div class="title">
                        <a href="../show/f440.html" target="_blank">中国银行24小时自助银行</a>
                    </div>
                    <div class="title2">
                        VI设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f425.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505466047.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        科技 互联网 电商
                    </div>
                    <div class="title">
                        <a href="../show/f425.html" target="_blank">海尔U宝机器人</a>
                    </div>
                    <div class="title2">
                        品牌策划、包装设计、产品创新开发、品牌传播
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f423.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505465778.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        地产 酒店 建材
                    </div>
                    <div class="title">
                        <a href="../show/f423.html" target="_blank">东海嘉园</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f416.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505464445.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        工业 制造 交通
                    </div>
                    <div class="title">
                        <a href="../show/f416.html" target="_blank">奥拓玛 AUTOMART</a>
                    </div>
                    <div class="title2">
                        LOGO设计、ＶI设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f417.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505464685.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        教育 文化 培训
                    </div>
                    <div class="title">
                        <a href="../show/f417.html" target="_blank">中国品牌经济（上海）论坛</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f419.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505465417.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        科技 互联网 电商
                    </div>
                    <div class="title">
                        <a href="../show/f419.html" target="_blank">爱康森德空气净化</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f420.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505465525.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        工业 制造 交通
                    </div>
                    <div class="title">
                        <a href="../show/f420.html" target="_blank">成华重工</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f421.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505465607.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        工业 制造 交通
                    </div>
                    <div class="title">
                        <a href="../show/f421.html" target="_blank">创导智能</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f422.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505465661.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        工业 制造 交通
                    </div>
                    <div class="title">
                        <a href="../show/f422.html" target="_blank">大岭科技</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f426.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505466158.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        工业 制造 交通
                    </div>
                    <div class="title">
                        <a href="../show/f426.html" target="_blank">华之邦科技</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f427.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505466259.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        食品 饮料 酒水
                    </div>
                    <div class="title">
                        <a href="../show/f427.html" target="_blank">加加酱油</a>
                    </div>
                    <div class="title2">
                        包装设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f432.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505467271.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        食品 饮料 酒水
                    </div>
                    <div class="title">
                        <a href="../show/f432.html" target="_blank">肯肯乡</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f433.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505467358.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        科技 互联网 电商
                    </div>
                    <div class="title">
                        <a href="../show/f433.html" target="_blank">摩鱼科技</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f434.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505467464.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        金融 银行 投资
                    </div>
                    <div class="title">
                        <a href="../show/f434.html" target="_blank">南荣投资</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f435.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505467505.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        金融 银行 投资
                    </div>
                    <div class="title">
                        <a href="../show/f435.html" target="_blank">三和控股</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f436.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505467586.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        家居 家电 日用
                    </div>
                    <div class="title">
                        <a href="../show/f436.html" target="_blank">水伯乐</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f437.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505527503.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        医药 美妆 母婴
                    </div>
                    <div class="title">
                        <a href="../show/f437.html" target="_blank">韵盛医疗</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f438.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505527643.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        地产 酒店 建材
                    </div>
                    <div class="title">
                        <a href="../show/f438.html" target="_blank">正森园林</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f439.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505527820.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        金融 银行 投资
                    </div>
                    <div class="title">
                        <a href="../show/f439.html" target="_blank">中峰投资</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f441.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505527978.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        工业 制造 交通
                    </div>
                    <div class="title">
                        <a href="../show/f441.html" target="_blank">中盛石油</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f361.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1499498944.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        家居 家电 日用
                    </div>
                    <div class="title">
                        <a href="../show/f361.html" target="_blank">莱克比德高端入户门</a>
                    </div>
                    <div class="title2">
                        品牌命名、LOGO设计、VI设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f362.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1499498928.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        服装 家纺 鞋帽
                    </div>
                    <div class="title">
                        <a href="../show/f362.html" target="_blank">凯铃精品服饰</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f363.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1499498918.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        工业 制造 交通
                    </div>
                    <div class="title">
                        <a href="../show/f363.html" target="_blank">祝旺复合塑料</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f364.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1499498903.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        金融 银行 投资
                    </div>
                    <div class="title">
                        <a href="../show/f364.html" target="_blank">新证金融</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f365.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1499498689.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        地产 酒店 建材
                    </div>
                    <div class="title">
                        <a href="../show/f365.html" target="_blank">帝马涂料</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计、包装设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f366.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1499505906.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        教育 文化 培训
                    </div>
                    <div class="title">
                        <a href="../show/f366.html" target="_blank">嘉德拍卖-嘉德在线</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f370.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500090726.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        医药 美妆 母婴
                    </div>
                    <div class="title">
                        <a href="../show/f370.html" target="_blank">美哉鱼胶原蛋白</a>
                    </div>
                    <div class="title2">
                        包装设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f418.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505465117.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        食品 饮料 酒水
                    </div>
                    <div class="title">
                        <a href="../show/f418.html" target="_blank">Kass Valley 葡萄酒</a>
                    </div>
                    <div class="title2">
                        包装设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f428.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505466650.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        食品 饮料 酒水
                    </div>
                    <div class="title">
                        <a href="../show/f428.html" target="_blank">凯莉诞生礼</a>
                    </div>
                    <div class="title2">
                        包装设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f429.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505466694.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        医药 美妆 母婴
                    </div>
                    <div class="title">
                        <a href="../show/f429.html" target="_blank">康之元</a>
                    </div>
                    <div class="title2">
                        包装设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f430.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505467001.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        食品 饮料 酒水
                    </div>
                    <div class="title">
                        <a href="../show/f430.html" target="_blank">天坛酒（限量版）</a>
                    </div>
                    <div class="title2">
                        包装设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f431.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505467187.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        食品 饮料 酒水
                    </div>
                    <div class="title">
                        <a href="../show/f431.html" target="_blank">真心瓜子</a>
                    </div>
                    <div class="title2">
                        包装设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f371.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500091189.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        食品 饮料 酒水
                    </div>
                    <div class="title">
                        <a href="../show/f371.html" target="_blank">一品轩西饼</a>
                    </div>
                    <div class="title2">
                        包装设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f372.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500091282.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        食品 饮料 酒水
                    </div>
                    <div class="title">
                        <a href="../show/f372.html" target="_blank">偷吃熊</a>
                    </div>
                    <div class="title2">
                        包装设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f373.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500091517.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        食品 饮料 酒水
                    </div>
                    <div class="title">
                        <a href="../show/f373.html" target="_blank">朵朵润尔</a>
                    </div>
                    <div class="title2">
                        包装设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f376.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500098990.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        地产 酒店 建材
                    </div>
                    <div class="title">
                        <a href="../show/f376.html" target="_blank">山外美术馆、众创咖啡</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f377.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500099704.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        服装 家纺 鞋帽
                    </div>
                    <div class="title">
                        <a href="../show/f377.html" target="_blank">NOTALA</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f378.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500100130.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        工业 制造 交通
                    </div>
                    <div class="title">
                        <a href="../show/f378.html" target="_blank">柏树钢铁</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f379.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500100927.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        地产 酒店 建材
                    </div>
                    <div class="title">
                        <a href="../show/f379.html" target="_blank">第一别墅</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f380.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500101619.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        地产 酒店 建材
                    </div>
                    <div class="title">
                        <a href="../show/f380.html" target="_blank">君苑酒店</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f381.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500101874.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        工业 制造 交通
                    </div>
                    <div class="title">
                        <a href="../show/f381.html" target="_blank">普罗娜智慧路灯</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f382.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500102169.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        地产 酒店 建材
                    </div>
                    <div class="title">
                        <a href="../show/f382.html" target="_blank">沁心园别墅</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f385.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500105925.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        工业 制造 交通
                    </div>
                    <div class="title">
                        <a href="../show/f385.html" target="_blank">易开租车</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f387.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500107464.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        医药 美妆 母婴
                    </div>
                    <div class="title">
                        <a href="../show/f387.html" target="_blank">爱接力健康大礼包</a>
                    </div>
                    <div class="title2">
                        包装设计、LOGO设计、VI设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f388.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500107898.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        食品 饮料 酒水
                    </div>
                    <div class="title">
                        <a href="../show/f388.html" target="_blank">绝味鸭脖</a>
                    </div>
                    <div class="title2">
                        包装设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f389.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500109257.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        食品 饮料 酒水
                    </div>
                    <div class="title">
                        <a href="../show/f389.html" target="_blank">御香龙脑汽车香水</a>
                    </div>
                    <div class="title2">
                        包装设计、LOGO设计、VI设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f390.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500110362.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        食品 饮料 酒水
                    </div>
                    <div class="title">
                        <a href="../show/f390.html" target="_blank">东方神鹿保健酒</a>
                    </div>
                    <div class="title2">
                        包装设计、LOGO设计、VI设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f424.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1505465957.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        食品 饮料 酒水
                    </div>
                    <div class="title">
                        <a href="../show/f424.html" target="_blank">古井贡酒</a>
                    </div>
                    <div class="title2">
                        包装设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f392.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500168231.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        食品 饮料 酒水
                    </div>
                    <div class="title">
                        <a href="../show/f392.html" target="_blank">深圳芭格美-生物酶</a>
                    </div>
                    <div class="title2">
                        包装设计、推广设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f375.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500091744.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        食品 饮料 酒水
                    </div>
                    <div class="title">
                        <a href="../show/f375.html" target="_blank">青岛啤酒“炫奇”果啤</a>
                    </div>
                    <div class="title2">
                        包装设计、推广物料设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f374.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500091690.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        食品 饮料 酒水
                    </div>
                    <div class="title">
                        <a href="../show/f374.html" target="_blank">青岛啤酒</a>
                    </div>
                    <div class="title2">
                        推广物料设计
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f369.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500090451.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        食品 饮料 酒水
                    </div>
                    <div class="title">
                        <a href="../show/f369.html" target="_blank">金字火腿</a>
                    </div>
                    <div class="title2">
                        包装设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f367.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1499670437.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        食品 饮料 酒水
                    </div>
                    <div class="title">
                        <a href="../show/f367.html" target="_blank">法门寺素饼</a>
                    </div>
                    <div class="title2">
                        包装设计、礼品开发
                    </div>
                </div></li>
            <li>
                <div class="pic">
                    <a href="../show/f383.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500102698.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        工业 制造 交通
                    </div>
                    <div class="title">
                        <a href="../show/f383.html" target="_blank">钛朗钢铁</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计
                    </div>
                </div></li>
            <li class="no">
                <div class="pic">
                    <a href="../show/f393.html" target="_blank"><span></span><p style=" background-image:url(../uploadfile/1500172328.jpg)"></p><img src="../images/65.png" /></a>
                </div>
                <div class="cons">
                    <div class="title2">
                        科技 互联网 电商
                    </div>
                    <div class="title">
                        <a href="../show/f393.html" target="_blank">瓦力泰克智能机器人</a>
                    </div>
                    <div class="title2">
                        LOGO设计、VI设计、品牌口号、品牌故事
                    </div>
                </div></li>*#
            <div class="clear"></div>
        </ul>
    </div>
</div>
<div class="index2">
    <div class="msubejct">
        新品牌创建
        <font>&amp;</font> 老品牌提升
    </div>
    <div class="commonmore">
        #*<a href="../cooperation/" class="joinusa joinusacheck">项目合作解疑</a>　*#
        <a href="contact" class="joinusa">马上联系点创</a>
    </div>
</div>