<!--页面整体头部-->
<div id="navFixed" class="particulars-nav-fixed">
    <div class="navmenu">
        <div class="wrap">
            <div class="logo">
                <h1><a href="#"><img src="${basePath}/resources/images/logo3.png" alt="点创品牌LOGO" /></a></h1>
                <h2><a href="#"><img src="${basePath}/resources/images/logo4.png" /></a></h2>
            </div>
            <div class="mobmenu">
                <a href="javascript:;" class="mobopen"></a>
                <a href="javascript:;" class="mobclose"></a>
            </div>
            #*<div class="sercate">
                <a href="work">品牌全案</a>
                <a href="work">LOGO（VI设计）</a>
                <a href="work">产品创新开发</a>
                <a href="work">营销（传播）</a>
            </div>*#

            <div class="telqq">
                <p><span></span><img src="${basePath}/resources/images/topteln.png" /></p>
                #*<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=782801963&amp;site=&amp;menu=yes" target="_blank"><img src="${basePath}/resources/images/topqq.jpg" /></a>*#
            </div>
            <ul>
                <li class=$!home_class><a href="home"><span>首页</span><i>HOME</i></a></li>
                <li class=$!works_class><a href="work"><span>点创案例</span><i>WORKS</i></a></li>
                <li class=$!about_class><a href="about"><span>点创团队</span><i>ABOUT</i></a></li>
                <li class=$!career_class><a href="career"><span>点创招聘</span><i>CAREER</i></a></li>
                <li class=$!contact_class><a href="contact"><span>联系点创</span><i>CONTACT</i></a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>