<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shdmi.dao.ProjectMapper">
    <select id="count" resultType="java.lang.Integer">
        SELECT count(*) FROM project WHERE 1=1
        <if test="title != null and title != ''">
          AND (title LIKE concat('%',#{title},'%') OR subTitle LIKE concat('%',#{title},'%'))
        </if>
    </select>

    <select id="findList" resultType="com.shdmi.entity.Project">
        SELECT * FROM project WHERE 1=1
        <if test="title != null and title != ''">
          AND (title LIKE concat('%',#{title},'%') OR subTitle LIKE concat('%',#{title},'%'))
        </if>
        ORDER BY id DESC limit #{index},#{pageSize};
    </select>

    <select id="get" resultType="com.shdmi.entity.Project">
        SELECT * FROM project WHERE id = #{id}
    </select>
    
    <update id="update" parameterType="com.shdmi.entity.Project">
        UPDATE project SET mail = #{mail}, title = #{title}, subTitle = #{subTitle}, feature = #{feature},
        price = #{price}, location = #{location}, preferential = #{preferential}, news = #{news}, remark = #{remark},
        area = #{area}, subArea = #{subArea}, acreage = #{acreage}, buildAcreage = #{buildAcreage},
        buildType = #{buildType}, plotRatio = #{plotRatio}, greenRatio = #{greenRatio}, propertyRight = #{propertyRight},
        fitment = #{fitment}, developer = #{developer}, mainHouseType = #{mainHouseType}, traffic = #{traffic},
        supporting = #{supporting}, updateTime = now(), telphone = #{telphone} WHERE id = #{id};
    </update>

    <insert id="add" parameterType="com.shdmi.entity.Project" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO project(mail, title, subTitle, feature, price, location, preferential, news, remark,
        area, subArea, acreage, buildAcreage, buildType, plotRatio, greenRatio, propertyRight, fitment,
        developer, mainHouseType, traffic, supporting, createTime, updateTime, telphone)
        VALUES (#{mail}, #{title}, #{subTitle}, #{feature}, #{price}, #{location}, #{preferential}, #{news},
        #{remark}, #{area}, #{subArea}, #{acreage}, #{buildAcreage}, #{buildType}, #{plotRatio}, #{greenRatio},
        #{propertyRight}, #{fitment}, #{developer}, #{mainHouseType}, #{traffic}, #{supporting}, now(), now(), #{telphone})
    </insert>

    <delete id="delete">
        DELETE FROM project WHERE id = #{id}
    </delete>

    <insert id="addPicture" parameterType="com.shdmi.entity.Picture">
        INSERT INTO picture(`type`, projectId, path) VALUES (#{type}, #{projectId}, #{path});
    </insert>

    <delete id="delPicture">
        DELETE FROM picture WHERE projectId = #{projectId} AND `type` = #{type}
    </delete>

    <select id="findPictures" resultType="java.lang.String">
        SELECT path FROM picture WHERE projectId = #{projectId} AND `type` = #{type}
    </select>

    <insert id="addTag" parameterType="com.shdmi.entity.Tag">
        INSERT INTO tag(`type`, projectId, `name`, `sort`) VALUES (#{type}, #{projectId}, #{name}, #{sort});
    </insert>

    <delete id="delTag">
        DELETE FROM tag WHERE projectId = #{projectId} AND `type` = #{type}
    </delete>

    <select id="findTags" resultType="java.lang.String">
        SELECT `name` FROM tag WHERE projectId = #{projectId} AND `type` = #{type} ORDER BY `sort`
    </select>
</mapper>